.container {
    margin: 0 auto;
        h1 {
            color: blue;
        }
        h2 {
            background-color: lightgreen;
        }
        p{
            .red {
                color: red;
            }
        }
}






